node_modules
.env
.DS_Store
*.log
/quotes/*.pdf
#/crm/quotes
#/crm/includes/config.php
#/crm/includes/auth_config.php
#/crm/includes/Angestonescrm.json
#/crm/includes/db_config.php
#/crm/tests/simple_gmail_test/config.php